.spinner {
	margin-top: 50px
}

.page-header-chatty {
	margin-top: 0;
}

.page-header-chatty h1 {
	margin-top: 10px;
}

@media screen and ( max-width : 767px) {
	.page-header-chatty h1 {
		font-size: 16px;
	}
}

.chatty-form-buttons {
	text-align: center;
}

.chatty-message-list {
	min-height: 50px;
	max-height: 300px;
	overflow: auto;
	margin-bottom: 10px;
}

.jumbotron-chatty {
	margin-top: 10px;
}